﻿@model WebApp.Models.permissionViewModel 
@{ ViewData["Title"] = "Tạo User";
    bool isUpdate = ViewBag.IsUpdate != null && ViewBag.IsUpdate == 1 ? true : false;
    string url = string.Empty;
    url = isUpdate ? "/Permission/UpdatePermission" : "/Permission/InsertPermission";
    }


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<!-- Button trigger modal -->


<div class="row mb-3">
    <input id="hId" type="hidden" value="@Model.Id" />
    <div class="col-md-6 offset-3">
        <div class="card mb-4">
            <div class="card-header">
                @(isUpdate ? "CẬP NHẬT" : "TẠO MỚI") QUYỀN NGƯỜI DÙNG
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="needs-validation" novalidate>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-key"></i> </span>
                                </div>
                                <input name="PermissionCode" class="form-control" required placeholder="Mã quyền" type="text" @(isUpdate ? "disabled" : "") value="@Model.Code">
                                <div class="invalid-feedback">Vui lòng nhập mã quyền.</div>
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-window-maximize"></i> </span>
                                </div>
                                <input name="PermissionName" class="form-control" required placeholder="Tên quyền" type="text" value="@Model.Name">
                                <div class="invalid-feedback">Vui lòng nhập tên quyền.</div>
                            </div> <!-- form-group// -->
                         
                            <div class="form-check">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" @(Model.IsEnabled ? "checked" : "")>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Kích hoạt
                                        </label>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="form-group fa-pull-right">
                                <button type="submit" class="btn btn-primary"> @(isUpdate ? "Cập nhật" : "Tạo mới")  </button>
                            </div> <!-- form-group// -->
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--container end.//-->

@section Scripts {
    <script>
        $(function () {
            permission.Init();
            $('.no-space').bind('input', function () {
                $(this).val(function (_, v) {
                    return v.replace(/\s+/g, '');
                });
            });
        });

        var permission = {
            Init: function () {
                permission.validate();
            },
            validate: function () {
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                // Self-executing function
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                                if (form.checkValidity() === true) {
                                    var PermissionCode = $('input[name=PermissionCode]').val();
                                    var PermissionName = $('input[name=PermissionName]').val();
                                    var Id = $('#hId').val();
                                    var IsActive = $('#flexCheckDefault').is(':checked') ? 1 : 0;

                                    var data = {
                                        PermissionCode: PermissionCode,
                                        PermissionName: PermissionName,
                                        IsActive: IsActive,
                                        Id: Id
                                    }
                                    $.ajax('@url',
                                        {
                                            type: 'POST',  // http method
                                            data: data,
                                            success: function (data, status, xhr) {   // success callback function
                                                if (data != null && data.success) {
                                                    window.notification.success(window.label.success);
                                                    setTimeout(function () {
                                                        location.href = '@Url.Action("Index")'
                                                    }, 2000)
                                                }
                                                else {
                                                    window.notification.error(window.label.error);
                                                }
                                            },
                                            error: function (jqXhr, textStatus, errorMessage) { // error callback
                                                window.notification.error(errorMessage);
                                            }
                                        });
                                }
                                event.preventDefault();
                                return false;
                            }, false);
                        });
                    }, false);
                })();
            }
        }
    </script>
}