﻿@model MenuViewModel 
@using WebApp.Models.DataModels;
@{ ViewData["Title"] = "Tạo Menu"; }
@{
    bool isUpdate = ViewBag.ViewMode != null && ViewBag.ViewMode == "UPDATE" ? true : false;
    string action = isUpdate ? Url.Action("UpdateMenu") : Url.Action("InsertMenu");

    List<MenuViewModel> lsMenu = new List<MenuViewModel>();
    lsMenu = (List<MenuViewModel>)ViewBag.ListMenu;
    List<string> lsSelectPermission = new List<string>();
    bool isActive = true;
    if(Model != null)
    {
        lsSelectPermission.Add(Model.PERMISSION_ID.ToString());
        isActive = Model.ISACTIVED == 1 ? true : false;
            }
}


<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                TẠO MỚI MENU
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" class="needs-validation" novalidate>
                            <input name="MenuId" type="hidden" value="@Model.MENU_ID" />
                            <div class="col-md-6 offset-3">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>

                                    <input name="menuName" class="form-control" placeholder="Tên menu" value="@Model.MENU_NAME"  type="text" required>
                                    <div class="invalid-feedback">Vui lòng nhập tên menu.</div>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-genderless" aria-hidden="true"></i></span>
                                    </div>
                                    <select name="menuParentId" class="form-control" required>
                                        <option value="0"> -- Menu gốc --</option>
                                        @if (lsMenu != null && lsMenu.Any())
                                        {
                                            foreach (var item in lsMenu)
                                            {
                                                bool selected = item.MENU_ID.Equals(Model.MENU_PARENT_ID);
                                                if (selected)
                                                {
                                                    <option selected value="@item.MENU_ID">@item.MENU_NAME</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.MENU_ID">@item.MENU_NAME</option>
                                                }

                                            }
                                        }
                                    </select>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <select name="permissionId" class="form-control" required>
                                        <option value=""> -- Nhập quyền --</option>
                                        
                                        <vc:permission-list selected="lsSelectPermission" is-selecct-box="true"></vc:permission-list>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng nhập mã quyền.</div>
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input name="OrderBy" value="@Model.ORDERBY" class="form-control" required placeholder="Thứ tự" type="number">

                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>

                                    <input name="menuPath" value="@Model.PATH" class="form-control" placeholder="Tên đường dẫn vật lý" type="text" required>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <textarea name="description" class="form-control" placeholder="Mô tả" type="text">@Model.MENU_DESCRIPTION</textarea>

                                </div>
                                <div class="form-group input-group">
                                    <input type="checkbox" @(isActive ? "checked" : "") name="isActive" />
                                    <label>Kích hoạt</label>
                                </div>
                            </div>


                            <div class="form-group fa-pull-right">
                                <button type="submit" class="btn btn-primary">Thêm mới </button>
                            </div> <!-- form-group// -->
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--container end.//-->

@section Scripts {
    <script>
        var urlAction = '@action';
        $(document).ready(function () {

        });
        var user = {
            init: function () {
                user.validate();
            },
            validate: function () {
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                                if (form.checkValidity() === true) {

                                    var MenuId = $('input[name=MenuId]').val();
                                    var menuName = $('input[name=menuName]').val();
                                    var menuParentId = $('select[name=menuParentId] option:selected').val();
                                    var permissionId = $('select[name=permissionId] option:selected').val();
                                    var orderBy = $('input[name=OrderBy]').val();
                                    var description = $('textarea[name=description]').val();
                                    var menuPath = $('input[name=menuPath]').val();

                                    var isActive = $('input[name=isActive]').is(':checked') ? 1 : 0;

                                    var data = {
                                        MenuId: MenuId,
                                        MenuName: menuName,
                                        IsActived: isActive,
                                        MenuDescription: description,
                                        OrderBy: orderBy,
                                        PermissionId: permissionId,
                                        MenuParentId: menuParentId,
                                        Path: 0
                                    }
                                    $.ajax(urlAction,
                                        {
                                            type: 'POST',  // http method
                                            data: data,
                                            success: function (data, status, xhr) {   // success callback function
                                                if (data != null && data.success) {
                                                    window.notification.success(window.label.addsuccess);
                                                    location.href = '@Url.Action("Index")'
                                                }
                                                else {
                                                    window.notification.error(window.label.error);
                                                }
                                            },
                                            error: function (jqXhr, textStatus, errorMessage) { // error callback
                                                window.notification.error(errorMessage);
                                            }
                                        });
                                }
                                event.preventDefault();
                                return false;
                            }, false);
                        });
                    }, false);
                })();
            }
        }
        user.init();
    </script>
}