﻿@model IEnumerable<WebApp.Models.DataModels.MenuViewModel>
<link href="~/lib/simpleTreeMenu/jquery-simpleTreeMenu.css" rel="stylesheet" />

@functions {

    public string UpdateLink(long id)
    {
        string url = Url.Action("Update") + "?menuId=" + id.ToString();
        return "<a href='" + url + "' title='Sửa'> <i class='fas fa-pen'></i></a>";
    }

    public string CreateLink(long id)
    {
        string url = Url.Action("Create") + "?menuId=" + id.ToString();
        return "<a href='" + url + "' title='Sửa'> <i class='fas fa-plus-circle'></i></a>";
    }
}



<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                QUẢN LÝ MENU
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-treeview-tab" data-toggle="tab" href="#nav-treeview" role="tab" aria-controls="nav-treeview" aria-selected="true">Cấu trúc cây</a>
                                <a class="nav-item nav-link" id="nav-tableview-tab" data-toggle="tab" href="#nav-tableview" role="tab" aria-controls="nav-tableview" aria-selected="false">Xem dạng bảng</a>

                            </div>
                        </nav>
                        <div class="row">
                            <div class="col-md-12 mt-3 mb-3">
                                <a href="/User/Create" title="Thêm mới người dùng">Thêm mới menu</a>
                            </div>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-treeview" role="tabpanel" aria-labelledby="nav-treeview-tab">

                                <div style="width:400px; background-color: white" class="well">
                                    <ul id="demoTree">

                                        @if (Model != null && Model.Any())
                                        {
                                            var lsparents = Model.Where(x => x.MENU_PARENT_ID == 0).ToList();
                                            foreach (var itmParent in lsparents)
                                            {
                                                var lsChildMenus = Model.Where(x => x.MENU_PARENT_ID == itmParent.MENU_ID).ToList();
                                                if (lsChildMenus.Count > 0)
                                                {
                                                    <li>
                                                        <span class="stm-icon"></span>
                                                        <span class="stm-content">@itmParent.MENU_NAME </span> @Html.Raw(UpdateLink(itmParent.MENU_ID)) @Html.Raw(CreateLink(itmParent.MENU_ID))
                                                        <ul>
                                                            @foreach (var itmChild in lsChildMenus)
                                                            {
                                                                <li>
                                                                    <span class="stm-icon"></span>
                                                                    <span class="stm-content" href="@itmChild.PATH">@itmChild.MENU_NAME   @Html.Raw(UpdateLink(itmChild.MENU_ID)) </span>
                                                                </li>
                                                            }


                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li> <span class="stm-icon"></span>@itmParent.MENU_NAME   @Html.Raw(UpdateLink(itmParent.MENU_ID))@Html.Raw(CreateLink(itmParent.MENU_ID)) </li>
                                                }
                                            }
                                        }

                                    </ul>



                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-tableview" role="tabpanel" aria-labelledby="nav-tableview-tab">
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên menu</th>
                                            <th>Menu cha</th>
                                            <th>Mô tả</th>
                                            <th>Sắp xếp</th>
                                            <th>Người tạo</th>
                                            <th>Ngày tạo</th>
                                            <th>Người cập nhật</th>
                                            <th>Ngày cập nhật</th>
                                            <th>Sửa / Thêm</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model != null && Model.Any())
                                            {
                                                int i = 0;
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@(++i)</td>
                                                        <td>@item.MENU_NAME</td>
                                                        <td>@(item.MENU_PARENT_ID != 0 ? Model.FirstOrDefault(x => x.MENU_ID == item.MENU_PARENT_ID).MENU_NAME : "Gốc")</td>
                                                        <td>@item.MENU_DESCRIPTION</td>
                                                        <td>@item.ORDERBY</td>
                                                        <td>@item.CREATEDUSER</td>
                                                        <td>@item.CREATEDDATE</td>
                                                        <td>@item.UPDATEDUSER</td>
                                                        <td>@item.UPDATEDDATE</td>

                                                        <td> @Html.Raw(UpdateLink(item.MENU_ID)) @Html.Raw(CreateLink(item.MENU_ID))</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên menu</th>
                                            <th>Menu cha</th>
                                            <th>Mô tả</th>
                                            <th>Sắp xếp</th>
                                            <th>Người tạo</th>
                                            <th>Ngày tạo</th>
                                            <th>Người cập nhật</th>
                                            <th>Ngày cập nhật</th>
                                            <th>Sửa / Thêm</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/lib/simpleTreeMenu/jquery-simpleTreeMenu.js"></script>
    <script type="text/javascript">$('#demoTree').simpleTreeMenu();</script>
}
