﻿@model IEnumerable<userGroupViewModel>
@{
    int selected = (int)ViewBag.Selected;
}
@{
    if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            bool isSelect = selected == item.GroupId;
            if (isSelect)
            {
                <option multildepartment="@item.IsMultilDepartments" selected value="@item.GroupId"> @item.GroupName </option>
            }
            else
            {
                <option multildepartment="@item.IsMultilDepartments"  value="@item.GroupId">@item.GroupName</option>
            }
        }
    }
}
