﻿@model IEnumerable<subDepartmentViewModel>
@{
    List<int> selected = (List<int>)ViewBag.Selected;
}
@{
    if (Model != null && Model.Any())
    {
        if (selected != null && selected.Any())
        {

            foreach (var item in Model)
            {
                bool isSelect = selected.Any(x => x == item.MADONVI);
                if (isSelect)
                {
                    <option selected value="@item.MADONVI"> @item.TENDONVI </option>
                }
                else
                {
                    <option value="@item.MADONVI">@item.TENDONVI</option>
                }
            }
        }
        else
        {
            foreach (var item in Model)
            {
                <option value="@item.MADONVI">@item.TENDONVI</option>
            }
        }

    }
}
