﻿@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.slogan {
    font-size: 2rem;
    color: #319243;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
a {
    color: #319243;
}

.c-red {
    color: red;
}

    a:hover {
        color: #268e39;
    }

    .hidden{
        display: none;
    }

.bg-gradient-primary {
    background: #319243;
}

.navbar-nav .sidebar-brand {
    min-height: 130px;
}

.nav-link img {
    max-height: 2rem;
    width: auto;
}

.top-nav-search {
    margin: 10px;
    width: 100%;
}


.topbar .nav-item .nav-link {
    height: 100%;
}

.btn-primary {
    background-color: #319243;
    border-color: #95e8a5;
}

    .btn-primary:hover {
        background-color: #287b37;
        border: 1px solid #319243;
    }

.card {
    min-height: 100%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #e3e6f0;
    COLOR: #319243;
    font-weight: bold;
}


.bg-custom-toolbar {
    background: #fff;
    padding: 0.4rem 1rem;
    border-radius: .35rem;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*.card {
    border: none;
}*/
.card h4 {
    min-height: 56px;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d0d0d03d;
    min-height: 100%;
}

.badge-custom-up {
    color: #fff;
    background-color: #319243;
}

.c-green {
    color: #319243;
}

.f-bold {
    font-weight: bold;
}

.label-input {
    float: right;
    padding: 0.3rem;
}

.input-icon-custom {
    background: #319243;
    padding: 5px 10px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*HIDDENT canvas LISCENCE*/
.canvasjs-chart-credit {
    display: none;
}


.car-item .card-box:hover {
    color: #fff !important;
    background: #319243;
    cursor: pointer;
}

    .car-item .card-box:hover .c-green {
        color: #fff !important;
    }

.btn-success {
    color: #fff;
    background-color: #319243;
    border-color: #1cc88a;
}

#wrapper #content-wrapper {
    background-color: #f1f6f2;
}

.detail-link {
    position: absolute;
    bottom: 0.2rem;
    right: 2rem;
    font-weight: 500;
    color: #319243
}

.car-item .card-box:hover .detail-link {
    color: #fff !important;
}

/*
CARD */
@@media (min-width: 768px) {
    .circle-tile {
        margin-bottom: 30px;
    }
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 60px;
    height: 60px;
    margin: -2px auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
    padding: .5rem 0;
}

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
    background-color: #34495e;
}

.dark-green {
    background-color: #319243;
}

.green {
    background-color: #16a085;
}

.white {
    background: #fff;
}

.blue {
    background-color: #2980b9;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}

.text-dark-green {
    color: #319243;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

.text-gray {
    color: #898989;
}


.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
    border-radius: 1rem;
}

.circle-tile-description {
    text-transform: uppercase;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

    .circle-tile-footer:hover {
        text-decoration: none;
        color: rgba(255,255,255,0.5);
        background-color: rgba(0,0,0,0.2);
    }


.morning {
    background: url(https://lh3.googleusercontent.com/-1YbV7nsVnX8/WMugaq-6BEI/AAAAAAAADSg/0wPfQ84vMUcCle_SkgiUDOumUKscMaA8QCL0B/w530-d-h353-p-rw/widget-bg-morning.jpg) center bottom no-repeat;
    background-size: cover;
}

.time-widget {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 1.75em;
}

.time-widget-heading {
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 400;
    color: #fff;
}

#datetime {
    color: #fff;
}

.tile-img {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.tile {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    color: #fff;
}

.border-bottom-1 {
    border-bottom: 1px solid #eae6e6;
}

.bottom-home-card {
    padding: .8rem 1rem;
}

.ml04 {
    margin-left: .4rem;
}

.compare-yesterday-percent {
    cursor: pointer;
}
/*END CARD*/


fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 10px !important;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}


/************************* CHECKBOX  ****************************************/

.label-primary {
    background-color: #319243;
}
.material-switch {
    margin-right: 1rem;
}

.material-switch > input[type="checkbox"] {
    display: none;
  
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/*************************** END CHECK BOX *************************************/

/***************DATA TABLE**************/
.page-link {
    color: #319243;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #319243;
    border-color: #19902f;
}
/**************** END DATATABLE ******************/

/*table LIST*/
.table-list .todo-nav {
    margin-top: 10px
}

.table-list .todo-list {
    margin: 10px 0
}

    .table-list .todo-list .todo-item {
        padding: 15px;
        margin: 5px 0;
        border-radius: 0;
        background: #f7f7f7
    }

    .table-list .todo-list.only-active .todo-item.complete {
        display: none
    }

    .table-list .todo-list.only-active .todo-item:not(.complete) {
        display: block
    }

    .table-list .todo-list.only-complete .todo-item:not(.complete) {
        display: none
    }

    .table-list .todo-list.only-complete .todo-item.complete {
        display: block
    }

    .table-list .todo-list .todo-item.complete span {
        text-decoration: line-through
    }

.table-list .remove-todo-item {
    color: #ccc;
    visibility: hidden
}

    .table-list .remove-todo-item:hover {
        color: #5f5f5f
    }

.table-list .todo-item:hover .remove-todo-item {
    visibility: visible
}

.table-list div.checker {
    width: 18px;
    height: 18px
}

    .table-list div.checker input,
    .table-list div.checker span {
        width: 18px;
        height: 18px
    }

    .table-list div.checker span {
        display: -moz-inline-box;
        display: inline-block;
        zoom: 1;
        text-align: center;
        background-position: 0 -260px;
    }

    .table-list div.checker, .table-list div.checker input, .table-list div.checker span {
        width: 19px;
        height: 19px;
    }

.table-list div.checker, .table-list div.radio, .table-list div.uploader {
    position: relative;
}

.table-list div.button, div.button *, div.checker, div.checker *, div.radio, div.radio *, div.selector, div.selector *, div.uploader, div.uploader * {
    margin: 0;
    padding: 0;
}

.table-list div.button, .table-list div.checker, .table-list div.radio, .table-list div.selector, .table-list div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.table-list .active {
    background: #efefef;
}
.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

    .custab:hover {
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
    }
/*END PERMISSION LIST*/

.nfc-message{
    font-size: 14px;
}


/*******************************************************************  LOADING *******************************************************************************/

/*******************************************************************  END LOADING  *******************************************************************************/


/****************************************** NOTICE *************************************************************/
.notice {
    padding: 0.5rem;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-sm {
    padding: 10px;
    font-size: 80%;
}

.notice-lg {
    padding: 35px;
    font-size: large;
}

.notice-success {
    border-color: #80D651;
}

    .notice-success > strong {
        color: #80D651;
    }

.notice-info {
    border-color: #45ABCD;
}

    .notice-info > strong {
        color: #45ABCD;
    }

.notice-warning {
    border-color: #FEAF20;
}

    .notice-warning > strong {
        color: #FEAF20;
    }

.notice-danger {
    border-color: #d73814;
}

    .notice-danger > strong {
        color: #d73814;
    }


.statistic-icon{
    max-width: 3rem;
    margin-right: 2rem;
}

.statistic-number {
    font-size: 1.5rem;
    padding-right: 10px;
    color: #244b0f;
}

.statistic-percent {
    font-size: 0.8rem;
}

.statistic-label {
    font-size: 1rem;
}

.my-card {
    border-radius: 50%;
    width: 49px;
    margin: 0 auto;
    margin-top: -40px;
}

/****************************************** END NOTICE *************************************************************/

/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/
.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}

    .responstable tr {
        border: 1px solid #D9E4E6;
    }

        .responstable tr:nth-child(odd) {
            background-color: #EAF3F3;
        }

    .responstable th {
        display: none;
        border: 1px solid #FFF;
        background-color: #167F92;
        color: #FFF;
        padding: 1em;
    }

        .responstable th:first-child {
            display: table-cell;
            text-align: center;
        }

        .responstable th:nth-child(2) {
            display: table-cell;
        }

            .responstable th:nth-child(2) span {
                display: none;
            }

            .responstable th:nth-child(2):after {
                content: attr(data-th);
            }

@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }

    .responstable th:nth-child(2):after {
        display: none;
    }
}

.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}

    .responstable td:first-child {
        display: table-cell;
        border-right: 1px solid #D9E4E6;
    }

@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}

.responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}

/***************************** MULTIL SELECT ************************************************/
.multiselect-wrapper {
    width: 180px;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

    .multiselect-wrapper .multiselect-input {
        width: 100%;
        padding-right: 50px;
    }

    .multiselect-wrapper label {
        display: block;
        font-size: 12px;
        font-weight: 600;
    }

    .multiselect-wrapper .multiselect-list {
        z-index: 1;
        position: absolute;
        display: none;
        background-color: white;
        border: 1px solid grey;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-top: -2px;
    }

        .multiselect-wrapper .multiselect-list.active {
            display: block;
        }

        .multiselect-wrapper .multiselect-list > span {
            font-weight: bold;
        }

        .multiselect-wrapper .multiselect-list .multiselect-checkbox {
            margin-right: 2px;
        }

        .multiselect-wrapper .multiselect-list > span,
        .multiselect-wrapper .multiselect-list li {
            cursor: default;
        }

    .multiselect-wrapper .multiselect-list {
        padding: 5px;
        min-width: 200px;
    }

    .multiselect-wrapper ul {
        list-style: none;
        display: block;
        position: relative;
        padding: 0px;
        margin: 0px;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .multiselect-wrapper ul li {
            padding-right: 20px;
            display: block;
        }

            .multiselect-wrapper ul li.active {
                background-color: rgb(0, 102, 255);
                color: white;
            }

            .multiselect-wrapper ul li:hover {
                background-color: rgb(0, 102, 255);
                color: white;
            }

.multiselect-input-div {
    height: 34px;
}

    .multiselect-input-div input {
        border: 1px solid #ababab;
        background: #fff;
        margin: 5px 0 6px 0;
        padding: 5px;
        vertical-align: middle;
    }

.multiselect-count {
    position: relative;
    text-align: center;
    border-radius: 2px;
    background-color: lightblue;
    display: inline-block !important;
    padding: 2px 7px;
    left: -45px;
}

.multiselect-wrapper.disabled .multiselect-dropdown-arrow {
    border-top: 5px solid lightgray;
}

.multiselect-wrapper.disabled .multiselect-count {
    background-color: lightgray;
}

.multiselect-dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    line-height: 20px;
    text-align: center;
    display: inline-block !important;
    margin-top: 17px;
    margin-left: -42px;
}



/*****************************************************************************/

.lb-number-count-overview {
    font-size: 1.5rem;
    font-weight: bold;
}

.img-resposive{
    width: 100%;
    height:100%;
}

.count-members{
    font-size: 1.8rem;
}

.title-department{
    bottom: -10px;
}
.notice-gray {
    border-color: #cac5c5;
}

.icon-chitieu {
    padding-right: 20px;
    padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #6e707e !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #d1d3e2 !important;
    height: 37px !important;
}
.loader-fade {
    width: 100%;
    height: 100%;
    background: #a9a9a95c;
    position: absolute;
    z-index: 1;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #008b1b; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 30%;
    position: absolute;
    left: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}