﻿
@{ ViewData["Title"] = "Home Page"; }

@*<div class="text-center">
        <h1 class="display-4">BÁO CÁO THÔNG MINH</h1>
    </div>*@
@functions {
    private readonly Random _random = new Random();
    public int RandomNumber()
    {
        return _random.Next(1, 100);
    }

    public string RandomPercent()
    {
        return _random.Next(1, 10).ToString() + "%";
    }
    List<int> lsPhongban = new List<int>();
}

<style>



    #chart {
        position: relative;
        margin: auto;
    }

    #chartjs-legend {
        margin-top: 2rem;
    }


        #chartjs-legend li span {
            position: relative;
            padding: 1px 20px;
            color: white;
            z-index: 2;
            margin-right: 1rem;
        }

    #chartjs-tooltip {
        position: absolute;
        top: 40%;
        left: 40%;
        font-size: 2rem;
    }

    @@keyframes fadein {
        0% {
            opacity: 0;
        }

        40% {
            opacity: 0;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }


    .chart {
        position: relative;
        margin: auto;
        font-weight: 900;
    }

    .chart__figure {
        display: flex;
        justify-content: space-between;
        height: 160px;
    }

    @@media screen and (max-width: 540px) {
        .chart__figure {
            flex-direction: column;
            height: auto;
        }
    }

    .chart__canvas {
        margin: auto;
    }

    .chart__caption {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
        letter-spacing: 0.4px;
        font-size: 36px;
        line-height: 56px;
        height: 100%;
        width: calc(80px + 160px);
        font-family: "Barlow Condensed", sans-serif;
        color: #01713c;
    }

    @@media screen and (max-width: 540px) {
        .chart__caption {
            margin: 15px auto auto;
            text-align: center;
            min-width: 160px;
        }
    }

    .chart span {
        font-size: 16px;
        line-height: 24px;
        font-family: "Montserrat", sans-serif;
        color: #334466;
    }

    .chart__value {
        display: grid;
        position: absolute;
        top: 0;
        left: 40px;
        height: calc(14px + 160px);
        width: 212px;
        animation: fadein 1400ms;
    }

    @@media screen and (max-width: 540px) {
        .chart__value {
            left: 0;
            right: 0;
            width: 100%;
        }
    }

    .chart__value p {
        font-size: 30px;
        margin: auto;
        padding-left: 6px;
        font-family: "Barlow Condensed", sans-serif;
        color: #01713c;
    }
</style>
<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">

            <div class="card-body">
                <div id="status-nhansu" class="row">
                    <div id="template-status" class="col-md-2 hidden">
                        <label class="lb-count lb-number-count-overview">250</label> <label class="lb-name">Nhân sự @DateTime.Now.Year</label>
                        <div class="row icon-chitieu">
                            <img class="img-resposive" src="~/img/chart-icon.png" />
                        </div>
                    </div>

                    
                    <div class="col-md-2">
                        <a class="btn btn-warning" href="/User/Employees" >XEM CHI TIẾT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                TỔNG QUAN
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Trình độ chuyên môn</h5>
                        <div id="chart" class="noselect">
                            <canvas id="myChart" height="100%" width="100%"></canvas>
                            <div id="chartjs-tooltip"></div>
                        </div>
                        <div id="chartjs-legend" class="noselect"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <h5>Biến chuyển nhân sự</h5>
                            <canvas id="chart-bien-chuyen-nhan-su"></canvas>
                        </div>
                        <div class="row mt-5">
                            <h5>Phổ cập bằng tin học</h5>
                            <canvas id="pho-cap-tin-hoc"></canvas>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <h5>Danh sách nhân sự đơn vị</h5>
<div id="thongke-donvi"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mb-3">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                NHÂN SỰ THEO ĐỘ TUỔI
            </div>
            <div class="card-body">
                <div class="row">
                    <canvas id="chart-do-tuoi"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                TỈ LỆ KẾT NẠP ĐẢNG VIÊN
            </div>
            <div class="card-body">
                <div class="row">
                    <main class="main">
                        <section class="chart" id="chartContainer">
                            <figure class="chart__figure">
                                <canvas class="chart__canvas" id="chartCanvas" width="300" height="200" aria-label="Example doughnut chart showing data as a percentage" role="img"></canvas>

                            </figure>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                TRÌNH ĐỘ NGOẠI NGỮ
            </div>
            <div class="card-body">
                <div class="row">
                    <canvas id="chart-do-tuoi-dang-vien" width="320" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                KHEN THƯỞNG THEO ĐƠN VỊ
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <h5>Tỉ lệ được khen thưởng</h5>
                            <main class="main">
                                <section class="chart" id="ti-le-khen-thuong">
                                    <figure class="chart__figure">
                                        <canvas class="chart__canvas" id="ti-le-khen-thuong-chart" role="img"></canvas>

                                    </figure>
                                </section>
                            </main>
                        </div>
                        <div class="row">
                            <h5>Tỉ lệ bị kỷ luật</h5>
                            <main class="main">
                                <section class="chart" id="ti-le-ky-luat">
                                    <figure class="chart__figure">
                                        <canvas class="chart__canvas" id="ti-le-ky-luat-chart" role="img"></canvas>

                                    </figure>
                                </section>
                            </main>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <table id="tb-donvi" class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Đơn vị</th>
                                    <th scope="col">Khen thưởng/kỷ luật</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/js/chart/report.js"></script>

    <script>


       

        $(document).ready(function () {
            report.Thongkedangvien('chartCanvas', 'chartContainer');
            report.Thongkedotuoi('chart-do-tuoi');
            report.Thongkenhansu();
            report.Trinhdotinhoc('pho-cap-tin-hoc');
            report.Thongkenhansu_Donvi();
            report.Tilekhenthuong();
            report.Tilekyluat();
            report.Trinhdohocvan();
            report.Trinhdongoaingu();
            report.Thongkecbns();
            report.Donviktkl();

        })
    </script>
}
