﻿
@{
    ViewData["Title"] = "Index";
}



<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                TÌM KIẾM
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        Trạng thái
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="slStatus">
                            <option value="">-- Tất cả trạng thái --</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        Đơn vị
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="slDonvi">
                            <option value="">-- Tất cả đơn vị --</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        Chức vụ
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="slChucvu">
                            <option value="">-- Tất cả chức vụ --</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button id="btnSearch" class="btn btn-success">Tìm kiếm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                DANH SÁCH NGƯỜI DÙNG
            </div>
            <div class="card-body">
                
                <div class="row">
                    <div class="col-md-12">

                        <table id="tbList" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ và tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Số hiệu</th>
                                    <th>Giới tinh</th>
                                    <th>Tên trạng thái</th>
                                    <th>Tên đơn vị</th>
                                    <th>Chức vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                           
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <partial name="/Views/Shared/_ListLayout.cshtml" />
    <script>

        $(document).ready(function () {
            masterdata.loadStatus();
            masterdata.loadDonvi();
            masterdata.loadChucvu();
            $('body').on('click', '#btnSearch', dshs.search)
        });

        var masterdata = {
            loadStatus: function () {
                $.ajax('/user/TTHS',
                    {
                        type: 'GET',  // http method

                        success: function (data, status, xhr) {   // success callback function
                            if (data !== null && data.results.length > 0) {
                                var strHtml = '';
                                $.each(data.results, function (idx, itm) {
                                    strHtml += '<option value="' + itm.matrangthai + '">' + itm.tentrangthai + '</option>';
                                });
                                $('#slStatus').append(strHtml);
                            }
                        }
                    });
            },
            loadDonvi: function () {
                $.ajax('/user/DM_DonVi',
                    {
                        type: 'GET',  // http method

                        success: function (data, status, xhr) {   // success callback function
                            if (data !== null && data.results.length > 0) {
                                var strHtml = '';
                                $.each(data.results, function (idx, itm) {
                                    strHtml += '<option value="' + itm.madonvi + '">' + itm.tendonvi + '</option>';
                                });
                                $('#slDonvi').append(strHtml);
                                $('#slDonvi').select2();
                            }
                        }
                    });
            },
            loadChucvu: function () {
                $.ajax('/user/DM_Chucvu',
                    {
                        type: 'GET',  // http method

                        success: function (data, status, xhr) {   // success callback function
                            if (data !== null && data.results.length > 0) {
                                var strHtml = '';
                                $.each(data.results, function (idx, itm) {
                                    strHtml += '<option value="' + itm.machucvu + '">' + itm.tenchucvu + '</option>';
                                });
                                $('#slChucvu').append(strHtml);
                                $('#slChucvu').select2();
                            }
                        }
                    });
            }
        }

        var dshs = {


            search: function () {
                var donvi = $('#slDonvi option:selected').val();
                var status = $('#slStatus option:selected').val();
                var chucvu = $('#slChucvu option:selected').val();
                var data = {
                    fromDate: null,
                    toDate: null,
                    donVi: donvi,
                    chucVu: chucvu,
                    trangThai: status
                }
                $.ajax('/user/loadHS',
            {
                type: 'GET',  // http method
                data: {
                    donVi: donvi,
                    chucVu: chucvu,
                    trangThai: status
                },
                
                success: function (data, status, xhr) {   // success callback function
                    var strHtml = '';
                    if (data !== null && data.results.length > 0) {

                        $.each(data.results, function (idx, itm) {

                            var item = ' <tr>';
                            item += '  <td scope="row">' + (++idx) + '</td>';
                            item += '       <td>' + itm.hovaten + '</td>';
                            item += '       <td>' + itm.ngaysinh + '</td>';
                            item += '       <td>' + itm.sohieucbccvc + '</td>';
                            item += '       <td>' + itm.gioitinh + '</td>';
                            item += '       <td>' + itm.tentrangthai + '</td>';
                            item += '       <td>' + itm.tendonvi + '</td>';
                            item += '       <td>' + itm.tenchucvu + '</td>';
                            item += '  </tr>';
                            strHtml += item
                        });

                    }
                    else {
                        strHtml = '<tr><td colspan="8">Không tìm thây dữ liệu</td></tr>'
                    }
                    $('#tbList tbody').html(strHtml);

                }
            });
            }
        }
    </script>
} 