﻿
@{
    string title = ViewBag.Loai != null && ViewBag.Loai == 0 ? " khen thưởng " : " kỷ luật ";
    ViewData["Title"] = "Danh sách "+ title + " theo đơn vị";
}


<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header text-uppercase">
                DANH SÁCH @title
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">

                        <table id="dsKTKL" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Họ và tên</th>
                                    <th>Số hiệu</th>
                                    <th>Đơn vị</th>
                                    <th>Hình thức</th>
                                    <th>Ngày</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <partial name="/Views/Shared/_ListLayout.cshtml" />
    <script>
        $(document).ready(function () {
            loadDS();
        });
       
        function loadDS() {
             $.ajax('/report/load_DSktkl',
            {
                type: 'GET',  // http method
                data: {
                    madonvi: @ViewBag.Madonvi,
                    loai: @ViewBag.Loai
                },
                success: function (data, status, xhr) {   // success callback function
                    if (data !== null && data.results.length > 0) {
                        var strHtml = '';
                        $.each(data.results, function (idx, itm) {

                            var item = ' <tr>';
                            item += '  <td scope="row">' + (++idx) + '</td>';
                            item += '       <td>' + itm.hovaten + '</td>';
                            item += '       <td>' + itm.sohieu + '</td>';
                            item += '       <td>' + itm.donvi + '</td>';
                            item += '       <td>' + itm.hinhthuc + '</td>';
                            item += '       <td>' + itm.ngay + '</td>';
                            item += '  </tr>';
                            strHtml += item
                        });
                        $('#dsKTKL tbody').html(strHtml);
                    }
                }
            });
        }
    </script>
} 