﻿@model roleViewModel
@{ ViewData["Title"] = "Tạo User"; }
@{ 
    List<string> lsPermisison = new List<string>();
    if(Model.permissions != null && Model.permissions.Any())
    {
        lsPermisison = Model.permissions.Select(x => x.Code).ToList();
    }

    bool isUpdate = ViewBag.ViewMode != null && ViewBag.ViewMode == "UPDATE" ? true : false;
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<input name="id" type="hidden" value="@Model.Id" />

<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                TẠO MỚI NHÓM QUYỀN
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <form class="needs-validation" novalidate>

                            <div class="col-md-6 offset-3">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-window-maximize"></i> </span>
                                    </div>
                                    <input name="RoleName" value="@Model.Name" class="form-control" placeholder="Tên vai trò" required type="text">
                                    <div class="invalid-feedback">Vui lòng nhập tên vai trò</div>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-file-text-o" aria-hidden="true"></i> </span>
                                    </div>
                                    <textarea name="Description" class="form-control" placeholder="Mô tả" >@Model.Description</textarea>
                                </div> <!-- form-group// -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Chọn quyền</b>
                                </div>
                            </div>
                            <div class="table-list">
                                <div class="row todo-list">
                                   <vc:permission-list selected="@lsPermisison" is-selecct-box="false"></vc:permission-list>
                                </div>
                            </div> <!-- form-group end.// -->
                            <div class="form-group fa-pull-right">
                                <button type="submit" class="btn btn-primary" id="btnInsert"> @(Model.Id > 0 ? "Cập nhật" : "Tạo mới" )   </button>
                            </div> <!-- form-group// -->
                        </form>
                   
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="huongdan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hướng dẫn sử dụng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Chức năng tự động tạo mã quyền
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        var action = '@(Model.Id > 0 ? "/Role/UpdateRole" : "/Role/InsertRole")';
        $(document).ready(function () {
            "use strict";
        }); 

        $(function () {
            groupPermission.Init();
            $('.no-space').bind('input', function () {
                $(this).val(function (_, v) {
                    return v.replace(/\s+/g, '');
                });
            });
        });

        var groupPermission = {
            Init: function () {
                groupPermission.validate();
            },
            validate: function () {
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                // Self-executing function
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                                if (form.checkValidity() === true) {
                                    var RoleName = $('input[name=RoleName]').val();
                                    var Des = $('textarea[name=Description]').val();
                                    var Id = $('input[name=id]').val();
                                    var PermissionIds = [];
                                    $('input[name=permission-Code]:checked').each(function () {
                                        var item = {
                                            PermissionId: $(this).val()
                                        };
                                        PermissionIds.push(item);
                                    })
                                    var data = {
                                        id: Id,
                                        Name: RoleName,
                                        Description: Des,
                                        PermissionIds: PermissionIds
                                    }
                                    $.ajax(action,
                                        {
                                            type: 'POST',  // http method
                                            data: data,
                                            success: function (data, status, xhr) {   // success callback function
                                                if (data != null && data.success) {
                                                    window.notification.success(window.label.addsuccess);
                                                    location.href = '@Url.Action("Index")'
                                                }
                                                else {
                                                    window.notification.error(window.label.error);
                                                }
                                            },
                                            error: function (jqXhr, textStatus, errorMessage) { // error callback 
                                                window.notification.error(errorMessage);
                                            }
                                        });
                                }
                                event.preventDefault();
                                return false;
                            }, false);
                        });
                    }, false);
                })();
            }
        }
    </script>
}