﻿@model IEnumerable<permissionViewModel>

@{
    List<string> selected = ViewBag.Selected != null ? (List<string>)ViewBag.Selected : new List<string>();
    if (Model != null && Model.Any())
    {
        if (ViewBag.IsSelecctBox)
        {
            foreach (var item in Model)
            {
                bool _check = selected != null && selected.Any(x => x == item.Id.ToString());
                if (_check)
                {
                    <option selected value="@item.Id">@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>
                }

            }
        }
        else
        {
            foreach (var item in Model)
            {
                string _check = selected != null && selected.Any(x => x.ToUpper().Trim().Equals(item.Code.ToUpper().Trim())) ? "checked" : "";
                <div class="col-md-3">
                    <div class="todo-item">
                        <div class="checker"><span class=""><input @_check name="permission-Code" type="checkbox" value="@item.Id"></span></div>
                        <span>@item.Name</span>
                        <a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a>
                    </div>
                </div>

            }
        }
    }
}
